/*$blue: #d3ebed;
$yellow: #fff680;
$green: #c8e9dc;
$red: #f7aa9e;

$white: #fff;
$light-gray: #f5f5f5;
$med-gray: #edefed;
$dark-gray: #999;
$black: #222;*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
}


.container {
  margin: 2em auto;
  max-width: 750px;
}
.container.large {
  max-width: 960px;
  *zoom:1;
}
.container.large:before,
.container.large:after {
  content:" ";
  display: table;
}
.container:after {
  clear: both;
}


.sidebar {
  float: left;
  width: 260px;
}
article {
  float: left;
  width: 700px;
}


header {
  background: #c8e9dc;
}
header.home {
  padding: 4em 0 6em;
}
header p {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 1.8em;
}
header.page {
  padding: 1em 0;
  text-align: center;
  background: #f7aa9e;
}
header.page h1 {
  font-size: 2em;
}



p, li {
  line-height: 1.6em;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3.4em;
}
h1 span {
  font-size: 0.6em;
  font-weight: 800;
  margin-left: 2.4em;
}
a {
  color: steelblue;
}
blockquote {
  font-size: 1.7em;
  padding: 1em;
  margin: 0;
  margin-bottom: -0.5em;
  background: #d3ebed;
}
img {
  max-width: 100%;
}

.button {
  text-decoration: none;
  color: #222;
  padding: 0.7em 1.3em;
}
.button:hover {
  opacity: 0.8;
}
.button.blue {
  background: #d3ebed;
}
.button.green {
  background: #c8e9dc;
}
.button.darkgreen {
  background: #89CCB2;
  color: #ffffff;
}
.button.red {
  background: #f7aa9e;
}
.button.yellow {
  background: #fff680;
}
.button.white {
  background: #ffffff;
}
.button.black {
  background: #222222;
  color: #ffffff;
}


.float-right {
  float: right;
}
.align-right {
  text-align: right;
}


.video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}
.video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.alert {
  width: 100%;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  font-weight: 300;
  color: #333;
}
.alert.success {
  border-color: #2ECC40;
  background: #d5f4d8;
}

footer {
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.docs {}
.docs-list {
  padding: 0 0 0 1.5em;
}
.docs-list li {
  margin-bottom: 0;
}
.docs-list li a {
  color: #333;
}
.docs-list li a.current {
  background: #fff680;
}

article h1 {
  margin: 0;
  font-size: 2em;
}

.browser {
  margin-left: -50px;
  margin-right: -50px;
  margin-top: -7em;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
  border-radius: 3px;
  overflow: hidden;
}
.browser img {
  width: 100%;
}